@media (width <= 868px) {
    .footer__container {
        height: 80px;
    }

    .footer__container .container__links {
        display: none;
    }

    .texts__footer {
        text-align: center;
        font-size: 15px;
        text-wrap: auto;
        margin: 5px;
    }
}

